<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" 
    crossorigin="anonymous">
    <title>Grandpybot</title>
</head>
<body>
    <header id='main-header' class="bg-dark text-white p-4 mb-3">
    <div class='container'>
        <h1 id='header-title'>Header</h1>
    </div>
    </header>
    <div>
        <div id='main'>
            <h2 class='title'>fenetre de dialogue du bot</h2>
            <ul id='items' class='list-group'></ul>
            <form id='my-form'>
                <input type='text' id='input-text' class='form-control mr-2' placeholder='enter your message here'>
                <input type='submit' id='submit-button' class='btn btn-dark' value='    Envoi    '>
            </form>
            
        </div>
    
    </div>
    <footer id='footer' class='bg-dark text-white'>
        <h2>Footer</h2>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" 
    crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>