<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
    <title>Grandpybot</title>
</head>
<body>
    <section class="bg-dark text-light p-5 text-center text-sm-start">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <img class="img-fluid w-75 d-none d-sm-block" src="{{ url_for('static', filename='img.jpg') }}" alt="">   
                </div>
                <div>
                    <h1><span class="text-warning">GRANDPY</span> BOT</h1>
                    <p class="lead">Grandpy te donnes toutes les infos utiles sur un lieu.
                        Demandes lui et il t'indiques l'adresse, la carte et te racontes même
                        l'histoire de ce lieu si il la connaît.
                        Pour demander la location d'un lieu a Grandpy assures toi que les ? 
                        soient bien collés au dernier mot de ta phrase comme ici
                        <span class="text-warning">....,Peux-tu m'indiquer l'adresse de XXXXX?,....</span>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light">
        <div class="container">
            <div class="header">
                <h2>Messages chat box</h2>
            </div>
            <div class="box" id="outer-box">
                <div class="inner" id="inner-box">

                
                </div>

                <div>    
                    <form id="my-form" class="form-control bg-secondary">
                        <input id="input-text" class="form-control bg-warning" placeholder="Fait ta demande a Grandpy ici !" type="text">
                        <button id="submit-button" class="btn btn-dark btn-lg">Envoyer</button>
                    </form>
                </div>

            </div>
        </div>    
    </section>

    
    <footer id='footer' class='g-4 bg-dark text-white text-center'>
        <div id="card-bottom" class="card bg-secondary">
            <div id="card-body2" class="card-body text-center">
                <img 
                    src="{{ url_for('static', filename='profilok.resized.jpg') }}"
                    class="rounded-circle mb-3"
                    alt=""
                />
                <h3 class="card-title mb-3">Pierre Le Gulluche OPC projet 7</h3>
                <p class="card-text"></p>
                <a href="https://github.com/plegulluche"><i class="bi bi-github text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
            </div>
        </div>
    </footer>
    

    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
    </script>
    <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" 
    crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzrlC0qJAbxqEJheJHOO-QeztZxRm8f9U">google.maps.event.addDomListener(window,'load', initMap);</script>
</body>
</html>