html {
  
  overflow-y: scroll;
}

#footer {
  position:relative;
  
  background:#6cf;
}


li {
  list-style: none;
}

img {
  display: block;
  max-width: 20%;
  height: auto;
}

.box {
  height: 600px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

.box .inner {
  height: 500px;
  overflow-y: auto;
}

input {
  border-radius: 3px;
}

[id^=map] {
  height:300px;
  width: 100%;
}

